@import '../desktop';
.contant-block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5em 0;
}
.wrapper, .wrapper_1 {
    margin: 0 auto;
    max-width: 1440px;
}
.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contant--right {
    display: flex;
    justify-content: flex-end;
    padding: 4em 0;
}

.title {
    font-size: 4.5em;
}
.text-block {

    &__all-width {
        max-width: 100%;
        width: 100%;
    }

    &__title {
        font-size: 2em;
        line-height: 1.2;
        margin: 1em;

        &--marked {
            font-size: 2em;
            font-weight: bold;
            padding: 0.25em 1em;
        }
    }

    &__text {
        font-size: 1.5em;
        line-height: 1.2;
        margin: 0.75em 1em;
    }

    &__span {
        font-size: 1.5em;
    }
}

.list {
    font-size: 1.5em;
    margin: 1em 1em 1em 3em;
    &__item {
        margin-bottom: 0.3em;
    }
}

.link-btn {
    font-size: 2em;
    max-width: 400px;
}
.icons {
    margin: .75em 1em 2em 1em;

    &__figure {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
    }
    
    &__img {
        margin: 0.5em auto;
        max-width: 100%;
        height: auto;
    }
    &__figcaption {
        font-size: 1.125em;
        font-style: italic;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 1em;
    }
}

.first {
    background-image: url(/images/mortar-board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100vh;
    &__list {
        font-size: 1.5em;
        margin-bottom: 4em;
    }
    &__title {
        text-align: right;
    }
}