@import '../desktop';
.contant-block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 3.125%;
}
.wrapper, .wrapper_1 {
    margin: 0 auto;
    max-width: 1200px;
}
.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contant--right {
    display: flex;
    justify-content: flex-end;
    padding: 4em 0;
}
.first {
    background-image: url(/images/mortar-board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100vh;

    &__list {
        font-size: 1.25em;
        margin-bottom: 1em;
    }
}
.link-btn {
    margin: 1em auto;
    max-width: 250px;
}