@import '../mobile';

& {
.first {
    background-image: url(https://nataliianechyporenko.github.io/himagro_landing/images/mortar-board-768x500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__list {
        margin-bottom: 0.75em;
    }
}
}