@import '../mobile';

.logo {
    max-width: px(350);
    height: auto;
}
.title {
    font-size: 2.5em;
    line-height: 1.2;
    margin: 0 1.5em 1em 1.5em;
}
.text-block {

    &__title {
        font-size: 1.5em;
        line-height: 1.2;
        margin: 1.5em;

        &--marked {
            font-size: 2em;
            padding: 0.5em 2em;
        }
    }

    &__text {
        font-size: 1.5em;
        line-height: 1.2;
        margin: 0.75em 1em;
    }

    &__span {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2.5;
        padding: 0 1em;
    }
}
.list {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 1em 1em 1em 4em;
    &__item {
        margin-bottom: 0.3em;
    }
}
.link-btn {
    font-size: 1.5em;
    max-width: 300px;
    height: 2.75em;
    padding: 0.75em 2em;
}
.icons {
    margin-bottom: 2em;

    &__figure {
        max-width: 320px;
    }
    
    &__img {
        max-width: 220px;
        height: auto;
    }
    &__figcaption {
        font-size: 1em;
        margin-bottom: 1em;
    }
}

.first {
    background-image: url(/images/mortar-board768x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__list {
        margin-bottom: 0.75em;
    }
}