@import '../desktop';
&{
.wrapper, .wrapper_1 {
    margin: 0 auto;
    max-width: 1200px;
}
.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contant--right {
    display: flex;
    justify-content: flex-end;
    padding: 4em 0;
}
.first {
    background-image: url(https://nataliianechyporenko.github.io/himagro_landing/images/mortar-board1024x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__list {
        margin-bottom: 0.75em;
    }
}
}