
& {

    .contant-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        // max-width: 1440px;
        margin: 0 auto;
        padding: 1.5em 3.125%;
    }

    .logo {
        max-width: px(300);
        height: auto;
    }
    .title {
        color: #091D36;
        font-family: $text-font;
        font-size: 2.5em;
        line-height: 1.2;
        margin: 1em 1em 0.5em 1em;
        text-align: left;
        max-width: 70%;
    }
    .img {
        max-width: 100%;
    }
    .img-wrapper {
        max-width: 35%;

        .img {
            max-width: 100%;
        }

    }
    .text-block {
        max-width: 58.75%;

        &__all-width {
            max-width: 100%;
            width: 100%;
        }

        &__title {
            color: #091D36;
            display: block;
            font-family: $text-font;
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.2;
            margin: 1em;

            &--marked {
                background-color: #cddc39;
                color: #091D36;
                display: block;
                font-family: $text-font;
                font-size: 1.25em;
                font-weight: bold;
                padding: 0.5em 1em;
            }
        }

        &__text {
            color: #091D36;
            font-family: $text-font;
            font-size: 1em;
            line-height: 1.2;
            margin: 0.75em 1em;
        }

        &__span {
            background-color: #cddc39;
            color: #091D36;
            font-family: $text-font;
            font-size: 1em;
            font-weight: bold;
            line-height: 2.5;
            padding: 0 1em;
        }
    }

    .list {
        color: #091D36;
        font-family: $text-font;
        font-size: 1em;
        line-height: 1.2;
        list-style: square outside;
        margin: 1em 1em 1em 3em;
        &__item {
            margin-bottom: 0.3em;
        }
    }
    .link-btn {
        background-color: #cddc39;
        color: #091D36;
        display: block;
        font-family: $text-font;
        font-size: 1.25em;
        font-weight: bold;
        margin: 3em auto;
        max-width: 300px;
        height: 2em;
        padding: 0.5em 1em;
        text-align: center;
        text-decoration: none;
    }
    .icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: .75em 1em 2em 1em;

        &__figure {
            max-width: 280px;
        }
        
        &__img {
            display: block;
            margin: 0.5em auto;
            max-width: 120px;
            height: auto;
        }
        &__figcaption {
            color: #091D36;
            font-family: $text-font;
            font-size: 0.75em;
            font-style: italic;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 1em;
        }
    }
    .first {
        background-image: url(https://nataliianechyporenko.github.io/himagro_landing/images/mortar-board.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        min-height: 100vh;
        &__list {
            font-size: 1.5em;
            margin-bottom: 4em;
        }
        &__title {
            text-align: right;
        }
    }
    .conditions {
        align-items: center;
        justify-content: flex-end;
        background-image: url(https://nataliianechyporenko.github.io/himagro_landing/images/students1.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .text-block {
            background-color: rgba(255,255,255,.75);
        }
    }
}