
* {
        box-sizing: border-box;
}
body {
    color: #091D36;
    font-size: 1.25em;
    font-family: $text-font;
}
figure {
    padding: 0 1em;
    max-width: 33em;
}
img { 
    display: block;
    width: 100%;
}

&{
    .contant-block {
        width: 100%;
        padding: 0.5em 3.125%;
    }

    .logo {
        max-width: px(200);
        height: auto;
    }
    .title {
        color: #091D36;
        font-family: $text-font;
        font-size: 1.5em;
        line-height: 1.2;
        margin: 0 1em 0.5em 1em;
        text-align: right;
    }
    .text-block {

        &__title {
            color: #091D36;
            display: block;
            font-family: $text-font;
            font-size: 1em;
            font-weight: bold;
            line-height: 1.2;
            margin: 1em;

            &--marked {
                background-color: #cddc39;
                color: #091D36;
                display: block;
                font-family: $text-font;
                font-size: 1em;
                font-weight: bold;
                padding: 0.5em 1em;
            }
        }

        &__text {
            color: #091D36;
            font-family: $text-font;
            font-size: 1em;
            line-height: 1.2;
            margin: 0.75em 1em;
        }

        &__span {
            background-color: #cddc39;
            color: #091D36;
            font-family: $text-font;
            font-size: 1em;
            font-weight: bold;
            line-height: 2.5;
            padding: 0 1em;
        }
    }
    .list {
        color: #091D36;
        font-family: $text-font;
        font-size: 1em;
        line-height: 1.2;
        list-style: square outside;
        margin: 1em 1em 1em 2em;
        &__item {
            margin-bottom: 0.3em;
        }
    }
    .link-btn {
        background-color: #cddc39;
        color: #091D36;
        display: block;
        font-family: $text-font;
        font-size: 1em;
        font-weight: bold;
        margin: 0 auto;
        max-width: 200px;
        height: 2em;
        padding: 0.5em 1em;
        text-align: center;
        text-decoration: none;
    }
    .icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2em;

        &__figure {
            max-width: 280px;
        }
        
        &__img {
            display: block;
            margin: 0.5em auto;
            max-width: 120px;
            height: auto;
        }
        &__figcaption {
            color: #091D36;
            font-family: $text-font;
            font-size: 0.75em;
            font-style: italic;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 1em;
        }
    }
    .first {
        background-image: url(/images/mortar-board-320.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
        &__list {
            margin-bottom: 4em;
        }
    }
}
